# GROSSE DATENBANKEN (kommen in GitHub Releases)
backend/spieler/atp_matches.db
backend/spieler/wta_matches.db
backend/spieler/atp_matches.zip
backend/spieler/wta_matches.zip

# PYTHON
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/
*.egg-info/

# SYSTEM
.DS_Store
Thumbs.db
desktop.ini

# LOKAL
start.bat
*.log

# IDE
.vscode/
.idea/
*.swp

'admin':   'b367e9e143966ae9edb5ff9e579a30c74c97e7925ae23bf3c1b6fd201b159300',